# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# typescript
*.tsbuildinfo
next-env.d.ts

# build outputs
/node_modules/
/.next/
/out/

# local env files
.env
.env.local
.env*.local

# firebase
.firebase/
firebase-debug.log
apphosting.yaml

# security
*.pem
*.key
